## 1. Strings

In [1]:
a = "Harsh"

In [2]:
print(a)

Harsh

In [3]:
a = 'Harsh'
# python take double and single quotes have same meaning.

In [4]:
print(a)

Harsh

In [5]:
a = '''
    this is a multi line 
    string
'''

In [6]:
print(a)

    this is a multi line
    string

In [7]:
a

'\n    this is a multi line \n    string\n'

In [8]:
a ='a'  # python does not have char ...

In [9]:
print(a)

a

In [13]:
ord?

In [21]:
ord('K')

75

In [23]:
chr(75)

'K'

### Some String operation first!
format,strip,split,replace,count

In [31]:
a = 1
b = 2
c = 3

In [26]:
print(str(a)+'-'+str(b)+'-'+str(c))

1-2-3

In [32]:
print("%d-%d-%d" % (a,b,c)) # c like print ...

1-2-3

In [33]:
print("{}-{}-{}".format(a,b,c))

1-2-3

In [34]:
print("{1}-{0}-{2}".format(a,b,c))

2-1-3

In [38]:
print("{lastname} {firstname}".format(firstname = "Harsh",lastname="Saini")) # [older way to format]

Saini Harsh

In [39]:
firstname = "Harsh"
lastname = "Saini"

In [40]:
print(f"{lastname},{firstname}") # most efficent way for formating a string [new form]

Saini,Harsh

In [43]:
 a = "          Harsh.             "

In [44]:
print(a)

          Harsh.

In [45]:
print(a.strip())  # strip() will remove the spaces.

Harsh.

In [46]:
a = input()

yes

In [47]:
a =="yes"

False

In [49]:
a.strip() == "yes"

True

In [50]:
a = input()

1 2 3 4 5 6 7

In [51]:
a

'1 2 3 4 5 6 7'

In [52]:
a.split(' ')  # split will separate out each value.

['1', '2', '3', '4', '5', '6', '7']

In [53]:
a = "Harsh"

In [55]:
a[0] = 'h'  # string is immutable...

TypeError: 'str' object does not support item assignment

In [56]:
a.replace('H','h')

'harsh'

In [57]:
a = 'aabbbccc'

In [58]:
a.replace('a','z')

'zzbbbccc'

In [60]:
a

'aabbbccc'

In [61]:
a.count('z')

0

In [59]:
a.count('a')

2

In [62]:
a.count('aa')

1

## 2. Lists

In [63]:
a = list()

In [64]:
a

[]

In [65]:
a= [1,2,3,4,5]

In [66]:
a

[1, 2, 3, 4, 5]

In [67]:
a[0]

1

In [78]:
a = ['Harsh',1,1.6, print]

In [79]:
a[2]

1.6

In [81]:
a[3]("hello world")

hello world

### Basic Operations

In [82]:
a = [1,2,3,4,5]

In [83]:
len(a)

5

In [84]:
a+a

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [86]:
a*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [87]:
a

[1, 2, 3, 4, 5]

In [88]:
1 in a

True

In [89]:
for x in a:
    print(x)

1
2
3
4
5

### Indexing and list slicing

In [90]:
a

[1, 2, 3, 4, 5]

In [91]:
a[3]

4

In [92]:
a[-1]

5

In [93]:
a[-2]

4

In [94]:
a[len(a)-1]

5

In [96]:
a = "Saini"

In [97]:
a[-1]

'i'

In [98]:
a[-4]

'a'

In [99]:
a = [1,2,3,4,5]

In [100]:
a[1:4]  # last index will exclude

[2, 3, 4]

In [102]:
a[0:5:2] # third argument is jump

[1, 3, 5]

In [106]:
a = "Harsh"

In [107]:
# most eligant way to reverse list interview questions.
a[::-1]

'hsraH'

In [104]:
a = [1,2,3,4]

In [105]:
# most eligant way to reverse list interview questions.
a[::-1]

[4, 3, 2, 1]

In [112]:
a = "naman"

In [113]:
a == a[::-1] # checking palindrome..

True

## Update the list
- insert
- append

In [114]:
a = [20,25,30,48,56]

In [117]:
#   a.insert?
#   Signature: a.insert(index, object, /)
#    Docstring: Insert object before index.
#    Type:      builtin_function_or_method

In [120]:
a.insert(1,"Harsh")

In [121]:
a

[20, 'Harsh', 25, 30, 48, 56]

In [122]:
a.append("Saini")

In [123]:
a

[20, 'Harsh', 25, 30, 48, 56, 'Saini']

## Deleting list element
- del
- pop
- remove

In [124]:
a = [1,2,3,4]

In [125]:
a.pop()

4

In [126]:
a.pop(1)  # if u want to work with index use pop...

2

In [127]:
a = ["Harsh","Naman","Gaurav"]

In [129]:
a.remove("Harsh")  # if u want to work with object use remove...

In [130]:
a

['Naman', 'Gaurav']

In [131]:
# del is statement in python which can delete the operator also ..
del a[1]

In [132]:
a

['Naman']

In [133]:
del a

In [135]:
a

NameError: name 'a' is not defined

## Sorting and Reversing
- sort and sorted
- Reverse and reversed

In [136]:
a = [4,1,6,3,8,2]

In [137]:
sorted(a)  # it give sorted list only

[1, 2, 3, 4, 6, 8]

In [138]:
a.sort()  # it will update list in sort list

In [139]:
a

[1, 2, 3, 4, 6, 8]

In [140]:
reversed(a)

In [141]:
for i in reversed(a):
    print(i)

8
6
4
3
2
1

In [143]:
a.reverse()  # it will update the sort in reverse sort..

In [144]:
a

[8, 6, 4, 3, 2, 1]

## 3.Tuples

In [145]:
a = [1,2,3,4]

In [146]:
a[0] = 5

In [147]:
id(a)

79231240

In [148]:
a[0]=1

In [149]:
id(a)  # memory address remain same in lists..

79231240

In [152]:
a = (1,2,3,4,5)

In [151]:
a

(1, 2, 3, 4, 5)

In [155]:
a[0] = 1   # Tuples are immutable.first difference b/w tuples and list....

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuples are fast and efficient than list as list can become slow and require more memory.

In [160]:
def func(*args):
    print(args)
    print(type(args))

In [161]:
func(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [162]:
a = 5
b = 9

In [163]:
temp = a   # swapping method 1
a = b
b = temp

In [164]:
print(a,b)

9 5

In [165]:
a = a+b  # swapping method 2 only work for int, float not for strings
b = a-b
a = a-b

In [166]:
print(a,b)

5 9

In [167]:
a = a^b   # swapping method 3 using xor
b = a^b
a = a^b

In [168]:
print(a,b)

9 5

In [170]:
# creating tuples
a = (1,2)  #1

In [171]:
type(a)

tuple

In [175]:
a = 1,2  #2   # python will pack this values and form tuple.

In [176]:
type(a)

tuple

In [177]:
a

(1, 2)

In [181]:
c,d  = a  # python will unpack tuple and assign values to c and d

In [182]:
c

1

In [183]:
d

2

In [184]:
c,d,e = a  # we should have equal number varaible on left side to get assigned with tuple values

ValueError: not enough values to unpack (expected 3, got 2)

In [185]:
a = (1,2,3)

In [186]:
c,d,e = a

In [187]:
print(c,d,e)

1 2 3

In [188]:
a = 1,2,3,4

In [191]:
c,d = a  # no of variable on left side is less than tuple items

ValueError: too many values to unpack (expected 2)

In [196]:
a = 5
b = 9

int

In [195]:
b,a = a,b   # swapping with tuple mostly ask in interviews

In [194]:
print(a,b)

9 5

In [207]:
a = 1
b = 3

In [208]:
b,a = a,b

In [209]:
print(a,b)

3 1

## List to Tuple and Tuple to List...

In [210]:
a = (1,2,3,4)

In [211]:
a = list(a)

In [214]:
print(a)
type(a)

[1, 2, 3, 4]

list

In [215]:
a = list(range(15))

In [216]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [217]:
a = list("Harsh")

In [218]:
a

['H', 'a', 'r', 's', 'h']

In [219]:
a = tuple(a)

In [220]:
a = tuple("Harsh")

In [221]:
a

('H', 'a', 'r', 's', 'h')

### Returning multiple values from Functions (The returned thing is a tuple)

In [222]:
def addsubtract(a,b):
    return a+b
    return a-b

In [223]:
addsubtract(1,2)

3

In [224]:
def addsubtract(a,b):
    return (a+b,a-b)   # we can return multiple items in form of tuples

In [225]:
addsubtract(1,2)

(3, -1)

In [226]:
sum,diff = addsubtract(1,2)

In [227]:
sum

3

In [228]:
diff

-1

In [ ]:
# Tuples and list ordeed data structures becoz they stored their data in ordered sequences.All the data accesed by ordered index.

## 4. Dictionary

In [229]:
# dictionary is an unodered data structure which stored data in form key value pair
a = {
    # key is in form string : value can be any form...
    "Name": "Harsh",
    "Marks": 96,
    "Subjects": ["Eng","Science"],
    "Friends": ["Hashim","Rakshit"]
}

In [230]:
a["Name"]

'Harsh'

In [232]:
a["Subjects"]

['Eng', 'Science']

In [233]:
a["Friends"]

['Hashim', 'Rakshit']

In [234]:
for key in a:
    print(key)

Name
Marks
Subjects
Friends

### Some important dict methods
- get()
- items()
- keys()
- values()
- clear()

In [236]:
for item in a.items():  # it created tuple of key, value
    print(item)

('Name', 'Harsh')
('Marks', 96)
('Subjects', ['Eng', 'Science'])
('Friends', ['Hashim', 'Rakshit'])

In [237]:
for key,value in a.items():
    print(key,"=>",value)

Name => Harsh
Marks => 96
Subjects => ['Eng', 'Science']
Friends => ['Hashim', 'Rakshit']

In [238]:
for val in a.values():
    print(val)

Harsh
96
['Eng', 'Science']
['Hashim', 'Rakshit']

In [239]:
for key in a.keys():
    print(key)

Name
Marks
Subjects
Friends

In [240]:
a["Name"]

'Harsh'

In [242]:
a["Name1"]

KeyError: 'Name1'

In [241]:
a.get("name1")

In [244]:
# a.get?
# Signature: a.get(key, default=None, /)
# Docstring: Return the value for key if key is in the dictionary, else default.
# Type:      builtin_function_or_method

In [245]:
a.clear()

In [246]:
a

{}

In [247]:
students = []

In [248]:
n =int(input())

2

In [250]:
for i in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-no": roll,
        "name": name,
        "branch": branch
    })

1
Harsh
CSE
2
Hashim
IT

In [251]:
students

[{'roll-no': 1, 'name': 'Harsh', 'branch': 'CSE'},
 {'roll-no': 2, 'name': 'Hashim', 'branch': 'IT'}]

Keys in the dictionary can be any immutable DS

In [252]:
a = {
    (1,2): "Harsh"
}

In [253]:
a[(1,2)]

'Harsh'

In [254]:
a = {
    [1,2]:"Harsh"
}

TypeError: unhashable type: 'list'

## 5. Sets

In [ ]:
# Sets are unordered data structure. set DS is meant to be iterator

In [255]:
a = { 1,2,3,4,5 }  # set and dict use curly braces but set doesnot have key value pair

In [256]:
type(a)

set

In [257]:
a = {}

In [258]:
type(a)

dict

In [260]:
# to create empty set we do
a = set()

In [261]:
type(a)

set

In [262]:
a

set()

In [263]:
b = { 3,4,5,6 }
a = { 1,2,3,4}

In [264]:
a.intersection(b)

{3, 4}

In [265]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [266]:
a-b

{1, 2}

In [267]:
b-a

{5, 6}

In [268]:
a[1]  # we cannot index set but we can iterate in python

TypeError: 'set' object is not subscriptable

In [269]:
for i in a:
    print(i)

1
2
3
4

In [270]:
a = {1,2,3,4,5,1,2,4} # set will store only unique elements not repeating one

In [271]:
a

{1, 2, 3, 4, 5}

In [273]:
len(a)

5

In [277]:
# interview question 
# how can i de duplicate this list?
a = [1,2,1,2,1,1,2,2]

In [279]:
list(a)

[1, 2, 1, 2, 1, 1, 2, 2]

In [280]:
set(a)

{1, 2}

In [282]:
list(set(a))

[1, 2]

### Comprehension

Comprehension is method using which we can create list,set and dict in a single line of python

In [283]:
a = []
for i in range(10):
    a.append(i**2)

In [285]:
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List comprehension

In [288]:
[i**2 for i in range(10) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [290]:
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

Dict Comprehension

In [291]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [292]:
{i:i**2 for i in range(10) if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

Set comprehension

In [293]:
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [294]:
{i**2 for i in range(10) if i%2==0}

{0, 4, 16, 36, 64}

Tuple Comprehension

In [295]:
a = (i**2 for i in range(10))

In [296]:
a