In [42]:
print("Hello world")

Hello world

In [43]:
print(type('Hello world'))

<class 'str'>

In [44]:
# this is a comment
# this is again a comment
print("Hello World")

Hello World

In [45]:
'''
    this is a 
    multi line comment
'''

'\n    this is a \n    multi line comment\n'

# Literal constants
- Numbers
    - Integers
    - Floats
    - Complex
- Strings
    - Single quotes
    - Double quotes
    - Triple quotes
    - Escape sequences(\n,\t,\r)
    - Explict line Joining

In [46]:
a = 5

In [47]:
print(type(a))

<class 'int'>

In [48]:
a = 1.5

In [49]:
print(a)

1.5

In [50]:
type(a)

float

In [51]:
a = 1+5j

In [52]:
type(a)

complex

In [53]:
a = "Hi My name is Harsh Saini"

In [54]:
type(a)

str

In [55]:
# python doesnot have char datatype unlike of c++ and java

In [56]:
a ='z'
type(a)

str

In [57]:
a = "python"
print(a)
a = 'coding blocks'
print(a)
a = '''
this is a 
multi line string
'''
print(a)
a = """
this is a 
multi line string
"""
print(a)

python
coding blocks

this is a
multi line string


this is a
multi line string

In [58]:
abc_2_3=1220

In [59]:
i = 10

In [60]:
_abc = 10

# Variables
- Primitive
    - int
    - Float
    - String
    - Complex
    - bool
- Advanced
    - lists
    - Tuple
    - Sets
    - dictionary

### Arithmetic Operator (+,-,*,/,//,%)

In [97]:
a = 10
b = 21

print(a+b) ## addition
print(a-b) ## difference
print(a*b) ## multiplication
print(a/b)  ## floating point answer 
print("%0.4f"%(a/b))  ## upto four decimal floating
print(a//b)  ## floor divison operator
print(a**b) ## Exponent/power operator
print(b%a)  ## b modulus a --> remainder

31
-11
210
0.47619047619047616
0.4762
0
1000000000000000000000
1

### Multiple Variable Assignment

In [62]:
a,b,c = 10,20,30.34

In [63]:
print(a,b,c)

10 20 30.34

In [72]:
def nature(a):
    if a>0:
        print("positive")
    else:
        print("negative")

In [85]:
a = 10

In [86]:
while a>0:
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1

In [87]:
range(5)

range(0, 5)

In [88]:
for i in range(5):
    print(i)

0
1
2
3
4

In [90]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

### Operators and Expression

### 1. Arithematic operators

3